@left-divider: #C7C7C7;
@horizontal-line: #EBEBEB;

#right-nav div {
    margin-left: 2%;

}
#rocketULogo img {
  margin-right: -2%;
}

#right-nav {

  border-left: 2px solid @left-divider;
  // top right bottom left
  margin: -20px 0  0 3%;

  // Push the divider to the way to the top but pull the text back down
  padding-top: 20px;

  // This is pulled from line 113 in table_of_contents_base.html to ensure divider is full page
  height: 750px;
  width: 375px;
  z-index: 1;
  background-color: white;

}

#comment-block {

  height: 750px;
  overflow-y: auto;

  // Extend the line to the divider but bring the text back in
  margin: -5px -30px 0 -30px !important;
  padding: 0 30px 0 30px;
  div {
    // top right bottom left
    width: 80%;
    font-size: 18px;
    color: darkgrey;
    margin-left: 0px;
  }

  dt {
    margin-top: -5%;
    margin-bottom: -5%;
  }

}

#resources {
  margin-top: 0;
  margin-bottom: -15px;

  button {
      position: relative;
      float: right;
      margin-right: 5px;
  }

  font-family: 'ProximaNova-Bold';
}


#single-comment {

//    font-size: 12px;
  font-size: 15px;
  overflow: visible;
  border-bottom: lightgrey;
  margin-top: -10px;
}

#runningTitle {
  margin-top: 0;
  padding-bottom: 3%;
  margin-left: 1%;
}

.reveal .slides > section, .reveal .slides > section > section {
  margin-left: 1%;
  width: 68%
}

hr {
  width: 400px;
}

.reveal .slide-number {
	position: absolute;
	display: inline-block;
    margin-right: 455px;
    margin-bottom: 30px;
	right: 15px;
	bottom: 15px;
	opacity: 0.5;
	z-index: 31;
	font-size: 12px;
}

#resource-area {
  border: none;
  width: 97.5%;
}

.drag-file {
  text-align: center;

}

.line {
  margin-top: 120px;
}

.save-button {
  text-align: center;
}

#save {
  width: 300px;
  height: 35px;
}

textarea {
  font-size: 20px;
  height: 350px;

}

#drag {
  margin-top: 50px;
  color: lightgrey;
}

.add-a-resource {
  color: #2EB8E6;

}

#side-comment {
  margin: -2% 0 -2% 0;
}

#comment {
  color: black !important;
  margin-top: 2%;
}

#resources button {
  margin-right: 3%;
}