<div class="col-3" id="right-nav">
    <div class="row" id="resources">

    <!-------< Top of resource/comment navigation >------>
        <span id="overall-comments" class="add-a-resource">
            Add a resource
            <button type="button" class="btn btn-default" id="btn1">Cancel</button>
        </span>
    </div>
    <hr>
    <!-------< Comments with resources >------->
        <div id="resource-field">

            <textarea placeholder="Add your files here..." name="resources" id="resource-area" cols="30" rows="10"></textarea>

        </div>

        <div class="drag-file">
            <h4 id="drag">Drag Files Here</h4>
        </div>

    <hr class="line">

    <div class="save-button">
        <button type="button" class="btn btn-default" id="save">Save</button>
    </div>
</div>