{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>

<div class="container" id="page">
<div class="logo">
    <p id="lectures">Registration and Profile</p>
    <img id="rocket" src="{% static "img/rocketu-logo-dark.png" %}" alt=""/></div>


    <p id="editAccount">Welcome, {{ user.name }}</p>
    <hr>

<div class="wholePage">
    <div class="profilePic">
        {% if user.image %}
            <div>
                <img class="picture" src="{{ user.image.url }}" alt=""/>
            </div>
        {% else %}
            <div>
                <img class="picture" src="{% static "img/default-profile-photo.png" %}" alt=""/>
           </div>
        {% endif %}

    </div>

{# FORMS  #}

<div class="container">

<h1>Hello {{ user.name }}!</h1>
<p>

</p>

<a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>

</div>

</div>
</div>

</body>
</html>