{% load i18n future staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}</title>

    <meta name="author" content="Yeti LLC">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{% static 'css/reveal.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload.css' %}">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = '/static/css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        }
    </script>

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{% static "css/zenburn.css" %}">
{#    <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}"#}
    <link rel="stylesheet/less" type="text/css" media="all" href="{% static "less/style.less" %}" />
    <link rel="stylesheet/less" type='text/css' href="{% static 'css/comments.less'  %}">
    <script>
        less = {
            logLevel: 0
        }
    </script>
    <script src="{% static "js/less-1.7.0.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static 'js/side_bar.js' %}"></script>
    <script>
        var comments = {{ comments | safe }}
    </script>
</head>

<body class="{% block body_css %}{% endblock body_css %}">
    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
                <div id="runningTitle" >
                    <div class="row">


                        <!--------< Title with RocketU logo >-------->
                        <div class="col-8 col-lg-offset-1" id="content">
                            <a href="#">{% block running_title %}{% endblock %}</a>
                            <a href="{% url "slides_home" %}" id="rocketULogo"><img class="pull-right" src="{% static "img/rocketu-logo-dark.png" %}"></a>
                        </div>

                        <div id="resources1">
                        <div class="col-3" id="right-nav">
                            <div class="row" id="resources">

                                <!-------< Top of resource/comment navigation >------>
                                    <span id="overall-comments">
                                        Resources

                                        <button type="button" class="btn btn-default" id="btn2">Add +</button>
                                    </span>
                            </div>
                            <hr>

                            <div id="add_comment_block">
                            </div>
                            <!-------< Comments with resources >------->
                            <div id="comment-block">
                                <div class="accordion">
                                <dt><a href="">Panel 1</a></dt>
                                <dd>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</dd>
                                <hr>
                                <dt><a href="">Panel 2</a></dt>
                                <dd>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</dd>
                                <hr>
                                <dt><a href="">Panel 3</a></dt>
                                <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</dd>
                                <hr>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="comments1">
                        <div class="col-3" id="right-nav">
                            <div class="row" id="resources">

                                <!-------< Top of resource/comment navigation >------>
                                    <span id="overall-comments" class="add-a-resource">
                                        Add a resource
                                        <button type="button" class="btn btn-default" id="btn1">Cancel</button>
                                    </span>
                            </div>
                            <hr>
                            <!-------< Comments with resources >------->
                                <div id="resource-field">

                                    <textarea placeholder="Add your files here..." name="resources" id="resource-area" cols="30" rows="10"></textarea>

                                </div>

{#                            Drag and Drop html starts here#}
                            <!-- The container for the uploaded files -->
                            <div id="files" class="files"></div>
                            <span class="btn btn-default btn-lg fileinput-button" id="upload-button">
{#                                <i class="glyphicon glyphicon-plus"></i>#}
                                <span class="drag-files-here">Drag Files Here</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span>
{#                            <!-- The global progress bar -->#}
{#                            <div id="progress" class="progress">#}
{#                                <div class="progress-bar progress-bar-success"></div>#}
{#                            </div>#}
                            <hr class="line">
                        {#                            Drag and Drop html ends here#}

                            <div class="save-button">
                                <button type="button" class="btn btn-default" id="save">Save</button>
                            </div>
                        </div>
                    </div>
{#                    </div>#}
                </div>
            </div>
            {% block slides %}
            {% endblock %}
            <div class="footer">
            </div>
        </div>
    </div>
    <script src="{% static "js/head.min.js" %}"></script>
    <script src="{% static "js/reveal.js" %}"></script>
    <script src="{% static "js/comments.js" %}"></script>
{#    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>#}

    <!-- ALL FILES BELOW FOR DRAG AND DROP FUNCTIONALITY -->

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{% static 'js/vendor/jquery.ui.widget.js'%}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{% static 'js/load-image.all.min.js'%}"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{% static 'js/canvas-to-blob.min.js' %}"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static 'js/jquery.fileupload.js' %}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{% static 'js/jquery.fileupload-process.js' %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{% static 'js/jquery.fileupload-image.js' %}"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{% static 'js/jquery.fileupload-audio.js' %}"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{% static 'js/jquery.fileupload-video.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{% static 'js/jquery.fileupload-validate.js' %}"></script>
    <script>
        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            // This sets the page width and height
            width: 1280,
            height: 750,
            controls: true,
            progress: true,
            history: true,
            center: false,
            slideNumber: true,
			theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none
            // Parallax scrolling
            // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
            // parallaxBackgroundSize: '2100px 900px',
            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: '{% static "js/classList.js" %}', condition: function() { return !document.body.classList; } },
                { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: '{% static "plugin/highlight/highlight.js" %}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                { src: '{% static "plugin/zoom-js/zoom.js" %}', async: true, condition: function() { return !!document.body.classList; } },
                { src: '{% static "plugin/notes/notes.js" %}', async: true, condition: function() { return !!document.body.classList; } }
            ]
        });
    </script>
    <script src="{% static "js/slides.js" %}"></script>
</body>
</html>
