
@left-divider: #C7C7C7;
@horizontal-line: #EBEBEB;

#right-nav div {
    margin-left: 2%;

}

#right-nav {
    /*padding-left: 10px;*/
    border-left: 3px solid @left-divider;
    margin-left: 3%;

    /* Push the divider to the way to the top */
    margin-top: -20px;
    padding-top: 20px;
    height: 750px;
    width: 375px;


}

#overall-comments {

    div {
        width: 100%;
        height: 80%;
        margin-bottom: -10px;
        overflow-y: auto;
        font-size: 18px;
        color: darkgrey;



    }

    /* The horizontal line within the comments is shorter than under resources */
    hr {
        margin-left: -7px;
    }
}

#resources {
    margin-top: 0;
    margin-bottom: 0;

    button {
        position: relative;
        float: right;
        margin-top: 3%;
    }
}

hr {
    color: @horizontal-line;
    margin: 10px;

}

#add-resource {
    display: inline;
}

.resources {
    display: inline;

}




