
@left-divider: #C7C7C7;
@horizontal-line: #EBEBEB;

#right-nav div {
    margin-left: 2%;

}

#right-nav {
    /*padding-left: 10px;*/
    border-left: 3px solid @left-divider;
    margin-left: 2%;

    /* Push the divider to the way to the top */
    margin-top: -20px;
    padding-top: 20px;
    height: 750px;

}

#overall-comments {

    div {
        width: 100%;
        height: 80%;
        /*margin-left: -10px;*/
        margin-bottom: -10px;
        overflow-y: auto;
    }

    /* The horizontal line within the comments is shorter than under resources */
    hr {
        margin-left: -7px;
    }
}

#resources {
    margin-top: 0;
    margin-bottom: 2%;

    button {
        position: relative;
        float: right;
        margin-top: 3%;
    }
}

hr {
    color: @horizontal-line;

}
